{% extends 'base.html' %}
{% load static %}

{% block title %}Member List {% endblock%}

{% block link %}<link rel="stylesheet" href="{% static "memberlistStyle.css" %}?v=10" /> {% endblock %}


{% block content %}
    <!-- List Box -->
    <div class="dsFrame">
        <h2>Member List</h2>
      </div>
      <div class="dsList">
          <div class="container mt-5">
              <table class="table table-striped table-bordered table-hover">
                  <thead>
                      <tr>
                          <th>UGMT id</th>
                          <th>Name</th>
                          <th>State</th>
                          <th>Register Date</th>
                      </tr>
                  </thead>
                    <tbody>
                    {% if usersDatass %}
                        {% for userData in usersDatass %}
                            <tr>
                                <td class="serial-number">{{ userData.id }}</td>
                                <td>{{ userData.name }}</td>
                                <td>{{ userData.state }}</td>
                                <td>{{ userData.registerDate }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="4" class="text-center">No user found</td>
                        </tr>
                    {% endif %}
                    </tbody>
              </table>
              <script>
                function formatSerialNumber(number) {
                    return 'UGMT'+number.toString().padStart(3,'0');
                }
            
                document.addEventListener("DOMContentLoaded", function() {
                    const serialNumberCells = document.querySelectorAll('.serial-number');
                    serialNumberCells.forEach(cell => {
                        const originalNumber = parseInt(cell.textContent, 10);
                        cell.textContent = formatSerialNumber(originalNumber);
                    });
                });
            </script>
          </div>
      </div>
    <!-- Pagination -->
    <br>
    <div class="container d-flex justify-content-center align-items-center" style="padding-top: 2%;">
      <nav aria-label="...">
        <ul class="pagination">
        {% if usersDatass.has_previous %}
          <li class="page-item">
            <a class="page-link" href="{% url 'memberList' %}?page={{ usersDatass.previous_page_number }}" style="font-size: 1.25rem; padding: 0.75rem 1.5rem;">Previous</a>
          </li>
        {% endif %}


        {# Show the current page and adjacent pages #}
        {% for i in usersDatass.paginator.page_range %}
            {% if i >= usersDatass.number|add:-1 and i <= usersDatass.number|add:1 %}
                <li class="page-item {% if usersDatass.number == i %} active {% endif %}">
                    <a class="page-link" style="font-size: 1.25rem; padding: 0.75rem 1.5rem;" href="{% url 'memberList' %}?page={{ i }}&searchInput={{ searchValue }}&filtered={{ filtered }}">{{ i }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if usersDatass.has_next %}
          <li class="page-item">
            <a class="page-link" href="{% url 'memberList' %}?page={{ usersDatass.next_page_number }}" style="font-size: 1.25rem; padding: 0.75rem 1.5rem;">Next</a>
          </li>
        </ul>
        {% endif %}
      </nav>
    </div>
  
{% endblock%}

