{% extends "base.html" %}
{% load static %}

{% block title %}Terms & Condition{% endblock %}

{% block link %}<link rel="stylesheet" href="{% static "aboutusStyle.css" %}" />{% endblock %}

{% block content %}

  <!-- Terms & Condition -->
  <div class="dsFrame" style="font-size: 1.2rem;">
    <h2>Terms and Conditions</h2>
    <br />
    <br />
    <p style="line-height: 2;">
      समाज पर बढ़ते अस्पतालों तथा स्कूल, कॉलेज के बोझ को कम करने के उद्देश्य
      हेतु इस ट्रस्ट् को प्रारम्भ किया गया है तथा किसी व्यक्ति की आकस्मिक
      मृत्यु होने पर उसके परिवार को सहयोग देने के उद्देश्य से प्रारम्भ किया
      गया है जिसका नियम यह है कि ट्रस्ट् से जुड़ने के लिए 200/-रूपये का सहयोग
      करना होगा। तथा हर लक्ष्य को पूरा करने के लिये ट्रस्ट् की अपील के अनुसार
      ट्रस्ट् के कार्यों को पूरा करने के लिये सहयोग करना तथा किसी की मृत्यु
      होने पर उसके परिवार के नॉमिनी को सहयोग करना अनिवार्य है।
    </p>

    <ol style="line-height: 2;">
      <li>
        UGMT टीम का सदस्य बनने के लिये हर सदस्य का यह कर्तव्य होगा कि वह
        अपनी प्रोपर जानकारी UGMT की Website पर Registration Form Fill करने पर
        समस्त जानकारी देगा तथा वह अपनी पूरी जानकारी जैसे वह किसी राजनैतिक
        पार्टी से जुड़ा न हो तथा उस पर कोई आपराधिक मामला दर्ज न हो ऐसा ही
        व्यक्ति इस ट्रस्ट् का सदस्य बन सकता है ताकि वह मन से देश की सेवा तथा
        देशवासियों के सौहार्द में अपना सहयोग दे सके।
      </li>
      <li>
        मुख्म नियम हेतु UGMT से जुड़ने के लिये आवश्यक सूचना फार्म भरकर
        रजिस्ट्रेशन करना अनिवार्य है साथ ही UGMT का एक Whatsapp अधिकारिक ग्रुप
        बनाया गया है जिस पर समय-समय पर सहयोग या नियम वे अन्य महत्वपूर्ण
        सूचनाएं प्रदान की जाती हैं इसके साथ ही आवश्यकता पड़ने पर महत्वपूर्ण
        निर्णय लेने या विचार-सुझाव आदि दृश्टिगत पर ग्रुप के सदस्यों को भी
        विचार रखने का अवसर दिया जाता है इसलिये सम्पूर्ण सूचनाओं से अपडेट रहने
        के लिये ग्रुप को सप्ताह में कम से कम दो बार अपडेट रखने की भी बाध्यता
        रखी गयी है। कोई अगर ग्रुप नियमतः नहीं देखता है और सम्बंधित सूचनाएं
        नहीं प्राप्त कर पाता है तो वह व्यक्ति स्वयं जिम्मेदार होगा। फिर भी
        प्रयास किया जाता है कि अन्य सोशल मीडिया प्लेटफार्म तथा जनपदीय टीम के
        माध्यम से भी प्रसारण किया जाता रहेगा जो आवश्यक सूचनाएं हेतु यह नियम
        बनाया गया है|
        <br />
        <div
          style="
            text-align: center;
            margin: auto;
            font-size: larger;
            color: brown;
          "
        >
          <span><b>जो सहयोग करेगा उसे ही मदद दी जायेगी।</b></span>
        </div>
        सावधान अगर UGMT से जुड़ा कोई भी सदस्य किसी संविषयक (इस जैसी) किसी
        संस्था या टीम या ग्रुप का पदाधिकारी बनता है तो उसकी सदस्यता समाप्त कर
        दी जाएगी तथा ऐसे सदस्य पूर्व में किये गए सहयोग के बदले किसी भी प्रकार
        के लाभ के दावेदार नहीं होंगे और अगर टीम के किसी भी पदाधिकारी के साथ
        दुर्वय्वहार या डराने धमकाने की कोशिश करता है तो उसकी सदस्यता समाप्त कर
        दी जाएगी।
        <br />
        दिनाँक 01/10/2024- जुड़ने वाले किसी ऐसी समविषयक संस्था जोकि केवल सहयोग
        के लिए चलाई जा रही है तो उन्हें या उनके नॉमिनी को किसी प्रकार का लाभ
        नहीं दिया जा सकेगा। यानी जो भी सदस्य UGMT से जुड़ता है तो उसकी सदस्यता
        अपने आप ही समाप्त मान ली जाएगी अगर कोई तथ्य छुपाकर जुड़ा भी रहता है तो
        UGMT उसकी मदद नहीं करेगा। आप बिना किसी टीम का सदस्य बने बिना भी किसी
        का सहयोग करने के लिए आज़ाद हैं किन्तु लाभ किसी एक मंच से ही उचित है
        वैसे भी UGMT मदद का मंच है लाभ का नहीं।
      </li>
      <li>
        <b><span style="color: brown">UNIQUE GROUP OF MANKIND TRUST</span></b>
        एक ऐसा ट्रस्ट है जिसमें 200/-रूपये वार्षिक शुल्क रखा गया है जिसकी मदद
        से समस्त देशवासियों के लिये चिकित्सा सुविधाएं तथा वृक्षारोपण, पर्यावरण
        और शिक्षण संस्थाएं आप सभी सदस्यों के सहयोग से मेडिकल कॉलेज भी खोले जा
        सकते हैं जो कि ट्रस्ट् की Deed में निम्मलिखित कार्य हैं जो कि आपके
        सहयोग द्वारा ही सम्भव हैं। इन कार्यों के लिये ट्रस्ट् के सभी सदस्यों
        को सूचित किया जाता रहेगा।
      </li>
      <li>
        UGMT द्वारा
        <b><span style="color: brown">हेल्प लाइन नं0 91 XXX XXX XXXX </span></b>
        सदस्यों की सुविधा के लिए जारी किया गया है जिस पर कॉल, Whatsapp के
        माध्यम से जानकारी का आदान प्रदान किया जाता रहेगा।
      </li>
      <li>
        ट्रस्ट् के सभी पदाधिकारी व जिला कार्यकारिणी <b>IT CELL</b> की
        सर्वसम्मति के बाद 1 वर्ष का लॉकिंग पीरियड दिनांक 01/10/2024 से
        स्थापित किया गया है।
        <ol type="a">
          <li>
            1 वर्ष के लॉकिंग पीरियड से तात्पर्य यह है कि यदि कोई सदस्य 1
            जनवरी से रजिस्ट्रेशन किया है तो यदि उसकी मृत्यु 1 वर्ष के पश्चात
            12 बजे तक हो जाती है तो उसे सहयोग नहीं दिया जायेगा 15 जनवरी तक
            सहयोग चलता है तो उसका सहयोग करना भी बाध्यकारी नहीं होगा मानवता भाव
            से चाहे तो वह सहयोग कर सकता है लेकिन उस सहयोग के बदले लॉकिंग
            पीरियड के दौरान मृत्यु होने तक उसके नॉमिनी द्वारा सहयोग का दावा
            नहीं किया जा सकेगा। यदि ऐसे सदस्य की मृत्यु 365/366 वें दिन हो जाती है
            या लॉकिंग पीरियड के बाद उसे अवसर मिले बिना ही उसकी मृत्यु हो जाती
            है तो उसे UGMT द्वारा सहयोग किया जायेगा क्योंकि उसे सहयोग करने का
            अवसर नहीं मिला उसके सहयोग करने की ईमानदारी को गलत नहीं माना जा
            सकता इसलिए उसकी मदद करने का प्रावधान होगा।
          </li>
          <li>
            गंभीर बीमारी की स्थिति में लॉकिंग पीरियड 2 वर्ष का होगा। यदि कोई
            सदस्य रजिस्ट्रेशन करते समय अपनी प्रोफाइल में बीमारी के तथ्यों को
            छुपाता है और अपनी गंभीर बीमारी को नहीं दर्शाता है तो वह व्यक्ति
            दोषी होने के कारण मदद का अधिकार नहीं रख सकेगा। गंभीर बीमारी की
            श्रेणी <b>I.M.A.</b> के द्वारा सूचीबद्ध बीमारी से मान्य होगा।
          </li>
          <li>
            गंभीर बीमारी की स्थिति में लॉकिंग पीरियड 2 वर्ष का होगा जो कि
            दिनाँक 01/10/2024 से प्रभावी माना जाएगा गंभीर बीमारी की स्थिति
            प्रोफाइल में अपडेट करना अनिवार्य होगा। छुपाए जाने पर ट्रस्ट् टीम
            की रिपोर्ट ही मान्य होगी। उसको ही अंतिम माना जायेगा उस पर किसी
            प्रकार का कानूनी दावा स्वीकार नहीं किया जाएगा।
          </li>
          <li>
            UGMT कोर टीम सहयोग के आहवान हेतु अपने सव विवेक को भी इस्तेमाल करके
            निर्णय लेने को भी स्वतंत्र होगी। सदस्य की वैधानिकता या किसी प्रकार
            के अन्य मामलों में जहां उचित समझेगी अपने स्तर से जांच करने को
            स्वतंत्र होगी। कोई भी सदस्य या नॉमिनी सहयोग प्राप्त करने का कानूनी
            दावे का अधिकार नहीं कर सकेगा बल्कि ट्रस्ट् अगर चाहे तो सहयोग
            दिलाने का प्रयास करेगा।
          </li>
          <li>
            UGMT दिवंगत सदस्यों के एक से अधिक नॉमिनी की स्थिति में दूसरे
            नॉमिनी को सहयोग करने हेतु सव विवेक एवं स्वामित्व हस्तक्षेप करने को
            स्वतंत्र होगी जिस पर लाभार्थी द्वारा कदम उठाया जा सकेगा। एक
            लाभार्थी या उसके परिवार द्वारा ट्रस्ट् के प्रति आरोप लगाने, भ्रम
            फैलाने, दुष्प्रचार करने या दुर्व्यवहार करने पर सहयोग की गयी राशि
            वापिस कराकर किसी अन्य दिवंगत परिवार को हस्तांत्रित करने का अधिकार
            रखता है ऐसे मामलों में कानूनी कार्यवाही करने के लिये भी ट्रस्ट
            स्वतंत्र होगा।
          </li>
          <li>
            सहयोग के दौरान या उसके बाद किसी सदस्य द्वारा गलती से अधिक राशि
            किसी सहयोग हो रहे या हो चुके नॉमिनी के खाते में भेज दी जाती है तो
            उचित साक्ष्य प्रस्तुत करने पर वह धनराशि उस सदस्य के खाते में वापिस
            करनी होगी इस सम्बन्ध में प्रदेश टीम या UGMT गारंटी नहीं ले सकेगा
            किन्तु नियमानुसार गलती से भेजी गयी धनराशि को वापिस कराने का पूर्ण
            प्रयास करेगा।
          </li>
        </ol>
      </li>
      <li>
        वर्तमान समय में सहयोग प्राप्त करने के लिये सभी सहयोगों का करना
        अनिवार्य होगा लॉकिंग पीरियड के अवधि के उपरान्त सभी सहयोग करने के बाद
        नियमतः जारी वेबसाइट गूगल फार्म भरते समय रसीद अपलोड करनी भी अनिवार्य
        होगा, बिना सहयोग करने के बाद गूगल फार्म न भरने की स्थिति में सहयोग
        प्राप्त करने हेतु अलर्ट नहीं माना जाएगा क्योंकि वैधानिकता की पुष्टि
        हेतु सहयोग के बाद फार्म भरना अनिवार्य है।
      </li>
      <li>
        किसी व्यक्ति द्वारा सदस्य बनने के बाद सहयोग नहीं किया गया या बीच में
        किसी को सहयोग नहीं किया तो ऐसी स्थिति में वह वैधानिक सदस्य नहीं होगा।
        ऐसे सदस्य निम्मलिखित नियमों के तहत अपनी वैधानिकता फिर से शुरू कर
        सकेंगे।
        <ol type="a">
          <li>
            ऐसे सदस्य जो जुड़ने के बाद लगातार सहयोग करते आ रहे हैं अगर सहयोग
            से पहले कोई सहयोग ब्रेक होता है तो इस दशा में उनकी वैधानिकता
            समाप्त हो जाएगी, किन्तु एक बार वैधानिकता समाप्त हो जाने पर इस
            सदस्य को लगातार 5 सहयोग पूरा होने पर सदस्यता पुनः बहाल कर सकेगा, 3
            सहयोग पूरा होने पर वह सदस्य सहयोग प्राप्त करने का भागीदार नहीं
            होगा, 3 सहयोग प्राप्त करते ही वह वैधानिक सदस्य हो जाएगा। यहां पर
            यह भी ध्यान रखने योग्य होगा कि यह अवसर एक ही बार दिया जाएगा अगर
            बीच केवल दो सहयोग ही अधिकतम ब्रेक हुआ है इससे अधिक ब्रेक की दशा
            में नियम (7) भी लागू होगा। ऐसे सदस्य द्वारा दस सहयोग कर देने पर ही
            वह सदस्य वैधानिक माना जाएगा साथ ही 90 प्रतिशत से अधिक ब्रेक होने
            की स्थिति में (7-a). (7-b) परिस्थितियों के अनुसार लागू होगा।
          </li>
          <li>
            ऐसे सदस्य जो रजिस्ट्रेशन करने के बाद सहयोग न करने वाले सदस्य स्वतः
            क्रियशील होकर वैधानिक सदस्य बनकर सहयोग करने की स्थिति में एवं बीच
            में 3 से अधिक सहयोग ब्रेक होने की स्थिति में 10 सहयोग करने के बाद
            ही सदस्यता बहाल मानी जाएगी। जब तक 10 सहयोग नहीं किये जाते हैं। बीच
            में मृत्यु होने की स्थिति में वह सदस्य अवैधानिक होगा और सहयोग
            प्राप्त नहीं कर सकेगा। कोर टीम की विशेष संस्तुति पर लगातार 10
            सहयोग करने पर ही सदस्यता बहाल की जा सकेगी ऐसे मामलों में 4 माह का
            भी लॉकिंग पीरियड लागू होगा जरूरी नहीं कि 4 माह का लॉकिंग पीरियड
            पूरा होने तक 10 सहयोग करने का अवसर आये क्योंकि 4 माह के लॉकिंग
            पीरियड पूरा करने के बाद 10 सहयोग करना अनिवार्य है।
          </li>
          <li>
            किसी पारिवारिक व्यस्तता, समारोह, कार्यक्रम या अन्य व्यस्तता आदि
            अन्य स्थितियों में स्वयं या पारिवारिक आय की स्थितियों में सहयोग
            छूट जाने की दशा में दावा मान्य नहीं होगा इस तरह सहयोग छूट जाने पर
            क्रमिक सहयोग करके वैधानिकता बहाल करने की व्यवस्था 10 सहयोग के बाद
            90 प्रतिशत अवसरों में सहयोग की स्थिति में नियम लागू होगा।
          </li>
        </ol>
      </li>
      <li>
        किसी सदस्य के बनने के 10 सहयोग पूरा करने की दशा में केवल एक छोड़ दिया
        जा सकेगा लेकिन पूर्व में उनके द्वारा सदस्य बनने के बाद 10 सहयोग किया
        गया हो।
      </li>
      <li>
        यदि कोई सदस्य पूर्व में सभी सहयोग कर रहा था और वैधानिक सदस्य था गतिमान
        सहयोग के दौरान (सहयोग शुरू होने की स्थिति से सहयोग खत्म होने तक) सहयोग
        समाप्त होने से पहले सहयोग नहीं किया रहता और उसी दौरान उसकी मृत्यु हो
        जाती है तो वह लाभ का पात्र माना जाएगा कि वह सदस्य होते तो पूर्व की तरह
        सहयोग करते, लेकिन अगर सहयोग समाप्त हो जाने के बाद मृत्यु होती है तो
        गतिमान सहयोग का लाभ नहीं दिया जा सकेगा। यहां पर यह भी देखा जाएगा कि उस
        स्थिति में सहयोग करना जरूरी होगा। सहयोग समाप्त हो जाने के बाद मृत्यु
        होने की स्थिति में सहयोग नहीं दिया जा सकेगा। यह नियम अस्पताल में होने
        की स्थिति में ही लागू होगा।
      </li>
      <li>
        सुसाइड या किसी विवादित केस में या अन्य केस जो संज्ञान लेने लायक हो में
        कोर टीम के पास पड़ताल करके हर प्रकार की स्थिति से अवगत होने के बाद
        निर्णय लेने का अधिकार ट्रस्ट की कोर टीम को होगा। आवश्यकता पड़ने पर
        वोटिंग या जिला इकाई या सदस्यों की राय भी ली जा सकेगी।
      </li>
      <li>
        एक से अधिक सदस्यों की मृत्यु होने पर उसकी मृत्यु होने की स्थिति में
        क्रम ही से सहयोग किया जाएगा यदि किन्हीं दो से अधिक सदस्यों की मृत्यु
        एक ही तिथि में होती है तो पहले उस सदस्य का सहयोग किया जायेगा जिसका
        प्रतिशत अधिक होगा उसके बाद अन्य का उपरोक्त प्रकरणों में किसी विशेष
        परिस्थिति जैसे स्थलीय निरीक्षण न हो पाना या कुछ तकनीकी कमी आदि मामलों
        में कोर टीम सहयोग के क्रम का निर्णय अपने विवेकानुसार लेगी।
      </li>
      <li>
        नॉमिनी सम्बन्धी विवाद की स्थिति में प्रदेश कोर टीम परीक्षण उपरान्त
        निर्णय लेने व सहयोग करने के लिये स्वतंत्र होगी।
      </li>
      <li>
        उपरोक्त नियमों से हट कर न किसी का सहयोग किया जा सकेगा न रद्ध किया जा
        सकेगा।
        <ol type="a">
          <li>
            अनुशासनहीनता, UGMT विरोधी गतिविधियों या फिर किसी प्रकार की साज़िश
            करने वालों के विरूद्ध UGMT कोर टीम के पास निर्णय लेने का अधिकार
            होगा कोई सदस्य किसी अन्य संघों या टीमों में रह सकता है लेकिन किसी
            अन्य समविषयक टीम के पदाधिकारी के रूप में कोई सदस्य UGMT का वैध
            सदस्य नहीं होगा इस प्रकरण पर कोर टीम निर्णय लेने हेतु स्वतंत्र
            होगी। कोई भी सदस्य/व्यक्ति या टीम UGMT के खिलाफ दुष्प्रचार या
            अफवाह फैलाता है बिना सबूत या आंकड़े प्रस्तुत किये आरोप लगाता है तो
            UGMT टीम उसके खिलाफ किसी भी प्रकार की कार्यवाही करने को स्वतंत्र
            होगी।
          </li>
          <li>
            व्हाट्सऐप ग्रुप पर जानकारी हेतु समस्त सूचनाएं समय-समय से प्रदान की
            जाती हैं अगर कोई सदस्य जो UGMT की सूचनाएं प्राप्त नहीं कर पाता है
            तो वह स्वयं जिम्मेदार होगा
          </li>
          <li>
            UGMT सदस्य अपना सवाल-जवाब प्राप्त कर सकेंगे जो माध्यम हैं।
            <b><span style="color: brown">हेल्प लाइन नं० 91 XXX XXX XXXX</span></b>
          </li>
          <li>
            समय और आवश्यकता को देखते हुए UGMT के किसी भी नियम में कभी भी
            संशोधन / परिवर्तन किया जा सकेगा|
          </li>
          <li>
            UGMT सहयोग सीधे दिवंगत परिवारों के नॉमिनी के खाते में करवाता है
            इसलिए किसी भी प्रकार की न्यायिक चुनौती देने का अधिकार किसी व्यक्ति
            या सदस्य के पास नहीं होगा।
          </li>
        </ol>
      </li>
      <li>
        UGMT किसी भी सदस्य को जबरन या दबाव देकर सदस्य नहीं बनाता है, सदस्यों
        को नियम स्वीकार करके ही सदस्य बनने का विकल्प प्रदान किया जाता है
        स्वेच्छा से कोई भी सदस्य कभी भी खुद को अलग कर सकता है।
      </li>
      <li>
        UGMT से जुड़ने पर आपको रजिस्ट्रेशन शुल्क मात्र 200/-रूपये है कोई भी
        व्यक्ति ट्रस्ट् की term & conditions से सहमत होकर सदस्यता ग्रहण कर
        सकता है।
      </li>
      <li>
        अगर कोई व्यक्ति सदस्यता शुल्क जमा करने के उपरान्त अपनी प्रोफाइल में
        दर्ज करता है कि मैं पूर्ण नियमों से सहमत होकर ट्रस्ट् के माध्यम से
        सहयोग नहीं लेना चाहता तो यह समझा जाएगा कि वह व्यक्ति ट्रस्ट् व देश
        प्रेम के प्रति सजग व जागरूक है।
      </li>
      <li>
        UGMT से सहयोग पाने हेतु उपरोक्त नियमों के तहत ही दावेदारी मानी जाएगी।
      </li>
      <li>
        UGMT का सदस्य बनने के साथ ही UGMT व्हाट्सऐप ग्रुप से जुड़ना अनिवार्य
        होगा व्योंकि सभी प्रकार की अधिकारिक सूचनाएं व्हाट्सऐप ग्रुप पर ही दी
        जाएँगी सुविधाओं के दृष्टिगत सोशल मीडिया या अन्य माध्यमों से भी सूचनाएं
        देने का प्रयास किया जाएगा, लेकिन यह किया जाना बाध्यकारी नहीं होगा।
      </li>
      <li>
        सहयोग के दौरान कूटरचित/फर्जी रसीद या नियमों के विपरीत कार्य करने वाले
        सदस्यों के बारे में कोर टीम निर्णय लेने की अधिकारी होगी। ऐसे सदस्यों
        की वैधानिकता भी समाप्त की जा सकेगी और लाभ से वंचित किया जा सकेगा।
      </li>
      <li>
        UGMT की सदस्यता लेने हेतु 200/-रूपये का शुल्क लिया जाता है इस शुल्क से
        ट्रस्ट् की व्यवस्था और कार्यों में व्यय किया जाता है जिसका हिसाब
        ट्रस्ट् समय-समय पर देता रहेगा।
      </li>
    </ol>
    <br />
    <p style="line-height: 2;">
      <b>Note</b>: 2 नॉमिनी के मामलों में प्रथम नॉमिनी को 70 प्रतिशत तथा
      दूरारे नॉमिनी को 30 प्रतिशत दिये जाने का प्रावधान किया गया है। (दो
      नॉमिनी Optional हैं) UGMT सभी सदस्यों का व्यवस्था/शुल्क से आई राशि से
      निम्मलिखित सुविधाएं प्रदान करेगा।
    </p>
    <ol type="1" style="line-height: 2;">
      <li>वेबसाइट के निर्माण व संचालन में।</li>
      <li>एप बनवाने व संचालन में</li>
      <li>आफिस और टेक्निकल स्पोर्ट रखने में जो आपको तकनीकी मदद देगा।</li>
      <li>स्थलीय निरीक्षण करने में।</li>
      <li>UGMT से अधिक से अधिक सदस्य जोड़ने के अभियान में।</li>
      <li>
        समय-समय पर नई तकनीक का इस्तेमाल में ताकि प्रक्रिया पारदर्शी के साथ-साथ
        आसान बन सके।
        <br />
        <i
          >(उपरोक्त नियमों के बारे में समय-समय पर अवगत कराया जाता है। नियमों
          में आवश्यकता अनुसार परिवर्तन किया जा सकेगा)</i
        >
      </li>
      <li>
        भविष्य में जरूरतों के अनुसार नियमों में परिवर्तन का अधिकार UGMT टीम के
        पास होगा। विवादास्पद स्थिति में कोर टीम के पास निर्णय लेने का अधिकार
        सुरक्षित होगा। किसी भी निर्णय की स्थिति में वेबसाइट पर अपलोड
        <b>Term & Conditions</b> की प्रति ही मान्य होगी|
      </li>
    </ol>
    <p style="line-height: 2;">
      <b>Note</b>- सदस्यों द्वारा अपना सहयोग सीधा मृतक व्यक्ति के नॉमिनी के
      A/C में दिया जाता है। अतः आपके द्वारा दिए गए सहयोग के बदले सहयोग प्राप्त
      करने का कोई कानूनी अधिकार नहीं होगा। यह पूरी तरह सदस्यों की मर्जी पर
      निर्भर होगा। टीम द्वारा अपील करने पर या सहयोग कम या ज़्यादा आने की दशा
      में ट्रस्ट् जिम्मेदार नहीं होगा क्योंकि टीम सिर्फ सहयोग की अपील करती है
      अतः किसी तरह की देनदारी के लिये कोई कानूनी अधिकार मान्य नहीं होगा।
      <br />
      <b>Note</b>- समय-समय पर बदलाव किये जा सकते हैं आवश्यकतानुसार नवीनतम
      <b
        >Term & Conditions के लिये वेबसाइट पर जाएं। वेबसाइट पर वर्णित Term &
        Conditions ही अन्तिम और सर्वमान्य होगी।</b
      >
    </p>
    <br />
    <br />
    <div style="color: brown; font-size: x-large; text-align: center; margin: auto; ">
      <span>
        <b>
        सहयोग हमारा
        <br />
        जो बदल दे कल आपका
      </b>
      </span>
    </div>
  </div>


  <!-- Social Media Options -->
  <h1 class="dsTextCen container">Connect Us</h1>
  <br /><br />
  <div class="dsSocial container" style="width: 50%">
    <div class="card dsSocialCard">
      <img src="{% static "images/facebook.jpg" %}" class="card-img-top" alt="..." />
      <div class="card-body dsFbBg">
        <p class="card-text dsText">Facebook</p>
      </div>
    </div>
    <div class="card dsSocialCard" onclick="window.open('https://youtube.com/@ugmtrust?si=xaQKP1Tx8YMN0bbH', '_blank')">
      <img src="{% static "images/youtube.png" %}" class="card-img-top" alt="..." />
      <div class="card-body dsYtBg">
        <p class="card-text dsText">YouTube</p>
      </div>
    </div>
  </div>

{% endblock %}