{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static "/images/TabLogo.png" %}?v=2" type="image/x-icon">
    <title>Payment Failed</title>
    <link rel="stylesheet" href="{% static 'failedStyles.css' %}">
</head>
<body>
    <div class="container">
        <div class="icon">
            &#10060;
        </div>
        <div class="dsHeading">
            Payment Failed
            <h5>{{ error }}</h5>
        </div>
        <a href="{% url 'home' %}" class="retry-button">
            <button>Retry</button>
        </a>
    </div>
</body>
</html>
